<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>DermaPredict</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landing-page.css') }}">
    </head>
    <body class="content-wrapper column-content column-center">

        <div id="warning-message" class="content-wrapper row-content row-center">
            PLEASE CONSULT A DERMAPATHOLOGIST OR A DERMATOLOGIST FOR A PROPER MEDICAL DIAGNOSIS
        </div>

        <br>

        <div id="landing-page-content-wrapper" class="content-wrapper column-content column-center">
            <div id="animated-title-wrapper" class="content-wrapper column-content column-center">
                <div class="content-wrapper row-content row-center">
                    <span id="letter-1" class="animated-title-letter">D</span>
                    <span id="letter-2" class="animated-title-letter">e</span>
                    <span id="letter-3" class="animated-title-letter">r</span>
                    <span id="letter-4" class="animated-title-letter">m</span>
                    <span id="letter-5" class="animated-title-letter">a</span>
                    <span id="letter-6" class="animated-title-letter">P</span>
                    <span id="letter-7" class="animated-title-letter">r</span>
                    <span id="letter-8" class="animated-title-letter">e</span>
                    <span id="letter-9" class="animated-title-letter">d</span>
                    <span id="letter-10" class="animated-title-letter">i</span>
                    <span id="letter-11" class="animated-title-letter">c</span>
                    <span id="letter-12" class="animated-title-letter">t</span>
                </div>
                <div id="landing-page-secondary-heading">
                    <div>Melanoma classifier, powered by Pytorch</div>
                </div>
            </div>

            
            <div class="button-container">
                <a href="/image-upload">
                    <button id="button-get-started">Get Started!</button>
                </a>
            </div>
        </div>
    </body>
</html>